/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app1/src/app1/page2/scss/style.scss ***!
  \******************************************************************************************************************************/
h1 {
  background-color: cadetblue;
}
